.column-container {
  background-color: #e2e3e5;
  border-color: #d6d8db;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #383d41;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
}

.title {
  color: --vt-c-black-soft;
  font-size: 1.75rem;
  margin: 0 0 8px;
}

.task-list {
  display: flex;
  border-radius: 0.25rem;
  list-style-type: none;
  padding: 0;
}

.task {
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
